
/***************************************************************/
/* Page styles */
/***************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 20px;
  height: 100%;
}

.circle {
  background-color: orange;
  background-position: initial initial;
  background-repeat: initial initial;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  /*margin:2px 40% 2px auto;*/
  color: black;
  
}

.hero-unit {
	padding: 20px;
	padding-top: 0;
	background-color: #EFEFEF;
}
.mycontainer:after {
	clear: none;
}

#sidebar {
  margin-top: 0;
	height: 700px;
  width: 300px;
  float: left;
}

.center {
	height: 100%;
  margin-top: 20px;
  margin-left: 20px;
  width: 700px;
  float: left;
}

#myclaimslist table {
  width: 280px;
}

#myclaimslist td {
  padding: 7px;
}

#myclaimslist td.kind {
  border-right: 1px solid #000000;
  font-size: 12px;
}

#myclaimslist td.claim {
  border-bottom: 1px solid black;
}

#myclaim table {
  padding: 15px;
  width: 1050px;
}

#myclaim table tr td {
  padding: 0;
  padding-left:15px;
  padding-right:15px;
  border:1px solid #cccccc;
}
#myclaim table tr td:first-child {
  width:150px;
}

#myraw, #mypreamble, #mybody, #mytransition {
  color: #CCCCCC;
}

#myraw {
  min-width: 80px;
}

.myoptionlegend {
  color: grey;
  padding: 20px;
}

.container a.active {
  color: #000000;
  background-color: grey;
}

/* numbers */
p span.numbers {vocabulary
  display:inline-block;
  padding-right:5px;
  background-color: #EFEFEF;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-right: 8px;
  color:grey;
}

.numberstransition {
  /*font-weight: bold;*/
  text-transform: uppercase;
}

/* bars */

.bars {
  display:inline-block;
  padding-right:15px;
  background-repeat:repeat-x;
  background-position:left bottom;
  line-height:10px
}

.bars_pre {
  background-image: url('../images/bars_pre.png');
}

.bars_trans {
  background-image: url('../images/bars_trans.png');
}

.bars_body {
  background-image: url('../images/bars_body.png');
}

.bars_body_1 {
  background-image: url('../images/bars_body_1.png');
}

.bars_body_2 {
  background-image: url('../images/bars_body_2.png');
}

.bars_body_3 {
  background-image: url('../images/bars_body_3.png');
}

.bw-bars_pre {
  background-image: url('../images/bw-bars_pre.png');
}

.bw-bars_trans {
  background-image: url('../images/bw-bars_trans.png');
}

.bw-bars_body {
  background-image: url('../images/bw-bars_body.png');
}

.bw-bars_body_1 {
  background-image: url('../images/bw-bars_body_1.png');
}

.bw-bars_body_2 {
  background-image: url('../images/bw-bars_body_2.png');
}

.bw-bars_body_3 {
  background-image: url('../images/bw-bars_body_3.png');
}

/* TEST 3 */

.test31_voc1, .test32_voc1 {
  color: #3300cc;
}
.test31_voc2, .test32_voc2 {
  color: #00cc99;
}
.test31_voc3, .test32_voc3 {
  color: #99cc00;
}
.test31_voc4, .test32_voc4 {
  color: #ff6600;
}
.test31_voc5, .test32_voc5 {
  color: #cc0033;
}

.test32 {
  text-decoration:underline;
}

.test33 {
  padding-left:4px;
  padding-right:4px;
  border:1px solid #cccccc;
  color:#ffffff;
}

.test33_voc1 {
  background-color: #3300cc;
}
.test33_voc2 {
  background-color: #00cc99;
}
.test33_voc3 {
  background-color: #99cc00;
}
.test33_voc4 {
  background-color: #ff6600;
}
.test33_voc5 {
  background-color: #cc0033;
}




/**** JAUME NOT WORKING ***/
span.test3:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}


.myimages {
  margin:10px;
  height:110px;
}
.imgcontainer{
  float:left;
  border:1px dashed grey;
  padding:10px;
  text-align:center;
}

.legend {
  padding: 20px;
  font-size:10px;
}
