
/***************************************************************/
/* Page styles */
/***************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 20px;
  height: 100%;
}

.circle {
  background-color: orange;
  background-position: initial initial;
  background-repeat: initial initial;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  /*margin:2px 40% 2px auto;*/
  color: black;
  
}

.hero-unit {
	padding: 20px;
	padding-top: 0;
	background-color: #EFEFEF;
}
.mycontainer:after {
	clear: none;
}

#sidebar {
  margin-top: 0;
	height: 700px;
  width: 300px;
  float: left;
}

.center {
	height: 100%;
  margin-top: 20px;
  margin-left: 20px;
  width: 700px;
  float: left;
}

#myclaimslist table {
  width: 280px;
}

#myclaimslist td {
  padding: 7px;
}

#myclaimslist td.kind {
  border-right: 1px solid #000000;
}

#myclaimslist td.claim {
  border-bottom: 1px solid black;
}

#myclaim table {
  padding: 15px;
  width: 1000px;
}

#myclaim table tr td {
  padding: 0;
  padding-left:15px;
  padding-right:15px;
  border:1px solid #cccccc;
}

#myraw, #mypreamble, #mybody, #mytransition {
  color: #CCCCCC;
}

#myraw {
  min-width: 80px;
}

.myoptionlegend {
  color: grey;
  padding: 20px;
}

.container a.active {
  color: #000000;
  background-color: grey;
}

/* numbers */
p span.numbers {vocabulary
  display:inline-block;
  padding-right:5px;
  background-color: #EFEFEF;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-right: 8px;
  color:grey;
}

.numberstransition {
  /*font-weight: bold;*/
  text-transform: uppercase;
}

/* bars */

.bars {
  display:inline-block;
  padding-right:15px;
  background-repeat:repeat-x;
  background-position:left bottom;
  line-height:10px
}

.bars_pre {
  background-image: url('../images/bars_pre.png');
}

.bars_trans {
  background-image: url('../images/bars_trans.png');
}

.bars_body {
  background-image: url('../images/bars_body.png');
}

.bars_body_1 {
  background-image: url('../images/bars_body_1.png');
}

.bars_body_2 {
  background-image: url('../images/bars_body_2.png');
}

.bw-bars_pre {
  background-image: url('../images/bw-bars_pre.png');
}

.bw-bars_trans {
  background-image: url('../images/bw-bars_trans.png');
}

.bw-bars_body {
  background-image: url('../images/bw-bars_body.png');
}

.bw-bars_body_1 {
  background-image: url('../images/bw-bars_body_1.png');
}

.bw-bars_body_2 {
  background-image: url('../images/bw-bars_body_2.png');
}

/* TEST 3 */

.myalert {
  background-color: #003399;
  color:#ffffff;
  padding-left:4px;
  padding-right:4px;
  border:1px solid #cccccc;
}

.vocabulary {
  background-color: #99007f;
  color:#ffffff;
  padding-left:4px;
  padding-right:4px;
  border:1px solid #cccccc;
}

.myimages {
  margin:10px;
}
