
/***************************************************************/
/* Page styles */
/***************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left:20px;
  height:100%;
}
.circle {
  background-color:orange;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  display:inline-block;
  margin-top:2px;
  margin-bottom:2px;
  /*margin:2px 40% 2px auto;*/
  color:black;
  
}

.hero-unit {
	padding:20px;
	padding-top:0;
	background-color:#EFEFEF;
}
.mycontainer:after {
	clear:none;
}

#sidebar {
  margin-top:0;
	height:700px;
  width:20%;
  float:left;
}

.center {
	height:100%;
  margin-top:20px;
  margin-left:20px;
  width:70%;
  float:left;
}

#myclaimslist td {
  padding:7px;
}
#myclaimslist td.kind {
  border-right:1px solid #000000;
}
#myclaimslist td.claim {
  border-bottom:1px solid black;
}

#myclaim table {
  padding:15px;
}

#myclaim table tr td {
  padding:15px;
  border:1px solid #CCCCCC;
}

#myraw, #mypreamble, #mybody, #mytransition {
  color: #CCCCCC;
}
#myraw {
  min-width:80px;
}

.myoptionlegend {
  color: grey;
  padding:20px;
}

.container a.active {
  color: #000000;
  background-color: grey;
}
